@model WorkFlowTracker.Models.CreateNewProjectModels
@{
    ViewBag.Title = "CreateNewProject";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqueryUi")

    <script type="text/javascript">

     $(document).ready(function () {
         $('input[type=datetime]').datepicker({
             dateFormat: "mm/dd/yy",
             changeMonth: true,
             changeYear: true,
             yearRange: "-0:+25"
         });

     });
    </script>
    }

<div>
    @using (Html.BeginForm("Generate", "ProjectList"))
    {
        @Html.AntiForgeryToken()
        <h4>Create new Project.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.ProjectName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ProjectName, new { @class = "form-control", placeholder= "Project Name" })
                @Html.ValidationMessageFor(m => m.ProjectName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.EstDateOfCompletion, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EstDateOfCompletion, new { htmlAttributes = new { @class = "form-control ", placeholder = "Estimated Date of Completion", @readonly = "true" } })
                @Html.ValidationMessageFor(m => m.EstDateOfCompletion)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Create" />
            </div>
        </div>
    }
</div>