@model WorkFlowTracker.Models.CommentsAndJustifications

@{
    ViewBag.Title = "StepHistory";
}

<h2>Step History @ViewBag.StepName</h2>

<h4>Justifications</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Justifications.First().justification1)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Justifications.First().uid)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Justifications.First().timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Justifications.First().status_old)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Justifications.First().status_new)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Justifications) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.justification1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status_old)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status_new)
        </td>
    </tr>
}
</table>
<h4>Comments</h4>
<table class="table">
    @foreach (var item in Model.Comments)
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => item.text)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.uid)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.isfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.fpath)
            </th>

            <th></th>
        </tr>
        break;
    }

    @foreach (var item in Model.Comments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isfile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fpath)
            </td>
            @*<td>
                    @Html.ActionLink("Delete", "Delete", new { id=item.cid })
                </td>*@
        </tr>
    }

</table>